/*navbar text*/
.my-navbar {
  background-color: #E1EEF2;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

/*screenshots of my projects*/
.projectImgs {
  position: relative;
  width:100%;
  height: 100%;
}

/*text that is overlayed over maze image*/
.overTextMaze {
  position: absolute;
  width: 100%;
  margin-left: 428px;
  color:#FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;;
  font-size: 30px;
  font-weight: bolder;
}

/*text that is overlayed over island image*/
.overTextIsland {
  position: absolute;
  width: 100%;
  margin-left: 470px;
  color:#FFFFFF;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
}
