/*navbar text*/
.my-navbar {
  background-color: #e0e0e0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

/*screenshots of my projects*/
.projectImgs {
  position: relative;
  width:100%;
  height: 100%;
  padding-bottom: 15px;
}
