:root {
  --color-red: #911212;
  --color-orange: #DB8E1A;
  --color-green: #1D6E0D;
  --color-blue: #0D176E;
  --color-purple: #4d0f80;
  --color-dark-grey: #1f1f1f;
  --color-light-grey: #cccccc;
  /* opaque versions of above colors  */
  --color-l-red: rgba(145, 18, 18, 0.25);
  --color-l-orange: rgba(219, 142, 26, 0.25);
  --color-l-green: rgba(29, 110, 13, 0.25);
  --color-l-blue: rgba(13, 23, 110, 0.25);
  --color-l-purple: rgba(77, 15, 128, 0.25);
  --font-cour: Helvetica, sans-serif;
}


body, html {
  height: 100%;
  margin: 0;
  line-height: 1;
}


/* ALL PAGES */
/* ***************************** nav bar ***************************** */
#my-navbar {
  background-color: white;
  font-family: var(--font-cour);
  font-size: 32px;
  font-weight: lighter;
  z-index: 1000; /* ordering of objects, always on top */
  width: 100%;
  position: fixed;
}

.navOffset {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  color: black;
  padding: 1%;
  margin-top: 0.3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

#nav-arrow {
  display: inline;
  font-size: 16px;
}

.nav-link-red {
  font-size: 32px;
  margin-top: 0%;
}

.nav-link-red:hover {
  color: var(--color-red);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.nav-link-orange:hover {
  color: var(--color-orange);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.nav-link-green:hover {
  color: var(--color-green);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.nav-link-blue:hover {
  color: var(--color-blue);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.nav-link-purple:hover {
  color: var(--color-purple);
  text-underline-offset: 6px;
}

.nav-link-dropdown {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 0.5%;
  padding-left: 0%;
  padding-bottom: 0%;
}

.nav-link-drop-hover {
  float: right;
  border: none;
}

.nav-link-drop-hover:hover .nav-link-dropdown {
  display: block;
  background-color: white;
}

.nav-link-drop-hover:active {
  display: block;
  background-color: white;
}

.nav-link-dropdown a {
  color: var(--color-purple);
  padding: 8px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: lighter;
}

.nav-link-dropdown a:hover {
  text-decoration: underline;
}

/* ***************************** for same items different colors ***************************** */
.color-red {
  color: var(--color-red);
}
.color-orange {
  color: var(--color-orange);
}
.color-green {
  color: var(--color-green);
}
.color-blue {
  color: var(--color-blue);
}
.color-purple {
  color: var(--color-purple);
}

/* ***************************** headings *****************************  */
.main-title {
  text-align: center;
  color: black;
  font-family: var(--font-cour);
  font-size: 0px;
  font-weight: lighter;
  padding-top: 10%;
  position: relative;
}

.sub-title {
  font-family: var(--font-cour);
  font-size: 40px;
  padding-top: 1%;
  text-decoration: none;
  font-weight: lighter;
}

.title-offset {
  padding-top: 5%;
}
@media (max-width: 1025px) {
  .title-offset {
    padding-top: 8.5%;
  }
}

/* ***************************** other text ***************************** */
.page-text {
  text-align: justify;
  font-family: var(--font-cour);
  font-size: 20px;
  font-weight: lighter;
  padding-top: 1%;
  float: left;
  display: block;
  line-height: 1.2;
}

.white-text {
  color: white;
}

/* ***************************** links in text ***************************** */
.text-link {
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* ***************************** buttons ***************************** */
.button {
  width: fit-content;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  border: 2px solid;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  background: white;
}

.red-button {
  color: var(--color-red);
  border-color: var(--color-red);
}
.orange-button {
  color: var(--color-orange);
  border-color: var(--color-orange);
}
.green-button {
  color: var(--color-green);
  border-color: var(--color-green);
}
.blue-button {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
.purple-button {
  color: var(--color-purple);
  border-color: var(--color-purple);
}
.black-button {
  color: black;
  border-color: black;
}

.button:link, .button:visited {
  color: white;
}

/* fill on hover */
.red-button:hover, .red-button:active {
  animation: redButtonFill 0.5s forwards;
}
@keyframes redButtonFill {
  0% {
    background-color: white;
    color: var(--color-red);
  }
  100% {
    background-color: var(--color-red);
    color: white;
  }
}
.orange-button:hover, .orange-button:active {
  animation: orangeButtonFill 0.5s forwards;
}
@keyframes orangeButtonFill {
  0% {
    background-color: white;
    color: var(--color-orange);
  }
  100% {
    background-color: var(--color-orange);
    color: white;
  }
}
.green-button:hover, .green-button:active {
  animation: greenButtonFill 0.5s forwards;
}
@keyframes greenButtonFill {
  0% {
    background-color: white;
    color: var(--color-green);
  }
  100% {
    background-color: var(--color-green);
    color: white;
  }
}
.blue-button:hover, .blue-button:active {
  animation: blueButtonFill 0.5s forwards;
}
@keyframes blueButtonFill {
  0% {
    background-color: white;
    color: var(--color-blue);
  }
  100% {
    background-color: var(--color-blue);
    color: white;
  }
}
.purple-button:hover, .purple-button:active {
  animation: purpleButtonFill 0.5s forwards;
}
@keyframes purpleButtonFill {
  0% {
    background-color: white;
    color: var(--color-purple);
  }
  100% {
    background-color: var(--color-purple);
    color: white;
  }
}
.black-button:hover, .black-button:active {
  animation: blackButtonFill 0.5s forwards;
}
@keyframes blackButtonFill {
  0% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: black;
    color: white;
  }
}


/* CONTENT PAGES */
/* ***************************** text ***************************** */
.page-titles {
  text-align: center;
  color: black;
  font-family: var(--font-cour);
  font-size: 48px;
  font-weight: lighter;
  position: relative;
}
.project-titles {
  padding-top: 1%; /* same as .content-nav-links */
  background-size: cover;
}

ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-nav-links {
  padding-top: 1%; /* same as .project-titles */
  text-align: left;
  width: 18%; /* slightly less than .content-nav-column */
}

/* ***************************** formatting ***************************** */
.content-body {
  margin: 0% 3% 0% 3%;
}

.parallel-scrolling {
  height: 70%;
  /* allow scrolling */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.content-header-row {
  flex-basis: 100%;
  margin-top: 16px;
  font-weight: normal !important;;
}

.content-nav-column {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  height: fit-content;
  padding-top: 64px; /* in both nav-column and large-column */
}
.content-large-column {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  padding-top: 64px; /* in both nav-column and large-column */
  z-index: 5; /* placed ahead of the nav column so, for ex., text can be more easily copied */
}

.content-nav-fixed {
  position: fixed;
  width: 100%;
}

.bottom-margin {
  padding-bottom: 3%;
}

/* ***************************** images ***************************** */
.img-row {
  padding-top: 1%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: space-evenly;
}

.img-border {
  border: 1px solid black;
}


/* HOME PAGE */
/* ***************************** images ***************************** */
#parallel-img {
  opacity: 0.8;
  filter: saturate(0);
}

.about-img {
  width: 80%;
  border-radius: 30px;
}

#main-name {
  top: 15%;
}

.section2-project-img {
  width: 80%;
}

@keyframes increaseImgSize {
  0% {
    width: 80%;
  }
  100% {
    width: 90%;
  }
}
@keyframes decreaseImgSize {
  0% {
    width: 90%;
  }
  100% {
    width: 80%;
  }
}

/* ***************************** section 1: name, etc. ***************************** */
#main-section1 {
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 600px;
  flex-direction: column;
}

.section1-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.anim-text {
  font-size: 100px;
  display: inline-flex;
}
@media (max-width: 475px) {
  .anim-text {
    font-size: 95px;
  }
}

.sub-title-changing {
  font-size: 32px;
  padding-top: 0.5%;
}

/* for name letters changing colors */
@keyframes animateRed {
  0% {
    color: black;
  }
  100% {
    color: var(--color-red);
  }
}
@keyframes animateOrange {
  0% {
    color: black;
  }
  100% {
    color: var(--color-orange);
  }
}
@keyframes animateGreen {
  0% {
    color: black;
  }
  100% {
    color: var(--color-green);
  }
}
@keyframes animateBlue {
  0% {
    color: black;
  }
  100% {
    color: var(--color-blue);
  }
}
@keyframes animatePurple {
  0% {
    color: black;
  }
  100% {
    color: var(--color-purple);
  }
}
@keyframes unanimate {
  100% {
    color: black;
  }
}

/* for auto changing text */
.sub-title-changing:before {
  content: "INTERACTIVE TECHNOLOGY";
  animation: subNewText 10s infinite;
}
@keyframes subNewText {
  0%, 19% {
    content: "INTERACTIVE TECHNOLOGY";
    color: var(--color-red);
  }
  20%, 39% {
    content: "USER CENTERED PRODUCTS";
    color: var(--color-orange);
    bottom: 0px;
  }
  40%, 59% {
    content: "SUSTAINABLE STRATEGIES";
    color: var(--color-green);
  }
  60%, 79% {
    content: "IMMERSIVE EXPERIENCES";
    color: var(--color-blue);
  }
  80%, 100% {
    content: "ACCESSIBLE PROJECTS";
    color: var(--color-purple);
  }
}

.arrow-icon-pos {
  position: relative;
  bottom: 0;
  margin-top: auto;
}

.arrow-icon {
  font-size: 40px;
  animation: animArrow 5s infinite;
  color: black;
  text-decoration: none;
}
@keyframes animArrow {
  0% {
    transform: rotate(25deg);
  }
  2% {
    transform: rotate(-25deg);
  }
  4% {
    transform: rotate(20deg);
  }
  6% {
    transform: rotate(-20deg);
  }
  8% {
    transform: rotate(15deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  12% {
    transform: rotate(10deg);
  }
  14% {
    transform: rotate(-10deg);
  }
  16% {
    transform: rotate(5deg);
  }
  18% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
}

/* ***************************** section 2 - about, projects ***************************** */
/* about section */
.bg-rect-about {
  width: 100%;
  height: 256px;
  background: var(--color-red);
  position: absolute;
}

#main-section2 {
  margin: 3% 2% 2% 2%;
  z-index: 50;
  position: relative;
}

.small-heading {
  font-family: var(--font-cour);
  font-size: 24px;
  padding-top: 1.5%;
  text-decoration: none;
  font-weight: lighter;
}

.section2-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.section2-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.smaller-column {
  flex-basis: 35%;
  height: fit-content;
}

.larger-column {
  flex-basis: 65%;
  height: fit-content;
}

.section2-white-bg {
  background: white;
  border-radius: 15px;
}

.section2-bg-padding {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2%;
}

/* projects section */
.section2-project-padding {
  padding-right: 2.5%; /* to match about text padding */
  padding-top: 4%;
  padding-bottom: 2%;
}

.header-row {
  margin-top: 8%;
  padding-bottom: 3%;
  justify-content: center;
  display: flex;
}

.bg-rect-project-header {
  background: white;
  width: 65%; /* matching larger column in about section */
  border: 2px solid var(--color-orange); /* matching project-vertical-line width */
  border-bottom: 0px;
  border-radius: 30px 30px 0px 0px;
  padding-top: 16px;
  padding-bottom: 24px;
  text-align: center;
  margin-left: 35%; /* matching smaller column in about section, project-img-column */
}

.project-img-column {
  display: flex;
  flex-direction: column;
  flex-basis: 35%; /* matching smaller column in about section */
  justify-content: center;
}
.project-line-column {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
}
.project-text-column {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  padding-bottom: 5%;
}

.project-vertical-line {
  border-left: 2px solid;
  height: 100%;
  width: 1px;
  margin-top: 1%;
}

/* ***************************** footer ***************************** */
/* social media icons */
#links {
  background: var(--color-dark-grey);
  font-family: var(--font-cour);
  text-align: center;
}

#link-name {
  color: white;
  padding-bottom: 24px;
  font-size: 12px;
  font-weight: lighter;
}

.footer-socials {
  margin: 2.75% 4.5% 3% 4.5%;
  font-size: 40px;
  color: white;
}

.footer-socials:hover {
  cursor: pointer;
  color: var(--color-red);
  animation: throughColors 3.75s infinite;
}
@keyframes throughColors {
  0% {
    color: var(--color-red);
  }
  20% {
    color: var(--color-orange);
  }
  40% {
    color: var(--color-green);
  }
  60% {
    color: var(--color-blue);
  }
  80% {
    color: var(--color-purple);
  }
}


/* RESUME */
/* ***************************** format ***************************** */
.resume-column-main {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
}
.resume-column-date {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  color: grey !important;
  text-align: right;
  text-decoration: none !important;
  pointer-events: none;
}
@media (max-width: 675px) {
  .resume-column-main {
    flex-basis: 85%;
  }
  .resume-column-date {
    flex-basis: 15%;
  }
}

/* ***************************** text ***************************** */
.resume-section-header {
  border-bottom: 1.5px solid;
  font-weight: 500;
  width: 100%;
  padding-top: 2%;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-page-links-width {
  width: 100%;
  display: flex;
  justify-content: center;
}
.top-page-links-container {
  font-family: var(--font-cour);
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  padding-top: 2%;
  text-align: center;
  flex-wrap: wrap;
  line-height: 2;
}

.top-page-links {
  font-size: 20px;
  font-weight: lighter;
  margin-left: 20px;
  margin-right: 20px;
}


/* PORTFOLIO */
/* ***************************** format ***************************** */
.port-body {
  margin: 3% 1% 0% 1%;
}

.port-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  height: fit-content;
  padding-bottom: 3%;
}

.project-equal-4-column {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  min-height: 312px; /* .port-info padding-top + small-heading + page-text + outline-container padding-bottom + 16 extra */
  min-width: 328px; /* slightly larger than image width */
}
.art-equal-2-column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-height: 312px; /* .port-info padding-top + small-heading + page-text + outline-container padding-bottom + 16 extra */
  min-width: 328px; /* slightly larger than image width */
}

.outline-container {
  border-bottom: 2px solid;
  margin-top: 48px;
  height: 100%;
  padding-bottom: 4px;
}

.port-course-4-column {
  display: flex;
  flex-direction: column;
  flex-basis: 23%;
}

.close-overlay {
  font-family: var(--font-cour);
  font-size: 32px;
  font-weight: lighter;
  cursor: pointer;
  color: white;
  float: right;
  padding-top: 1%;
  padding-right: 1%;
}

/* 1 column for mobile and small screens */
@media only screen and (max-width: 1000px) and (min-height: 1000px) {
  .port-course-4-column {
    flex-basis: 95%;
    padding-bottom: 5%;
  }
}
@media (max-width: 600px) {
  .port-course-4-column {
    flex-basis: 95%;
    padding-bottom: 5%;
  }
}


/* ***************************** images ***************************** */
.preview-img {
  z-index: 5;
  vertical-align: top;
  position: absolute;
}

.art-img {
  height: 260px;
}
.project-img {
  height: 260px;
}

.port-course-img {
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  cursor: pointer;
}

#portrait-overlay {
  display: none;
  vertical-align: middle;
  z-index: 1000; /* over all objects including nav bar */
  background: rgba(31, 31, 31, 0.85);
  width: 100%;
  position: absolute;
  cursor: pointer;
}

#portrait-img-overlay {
  z-index: 1001;
  cursor: auto;
  width: 90%;
  object-fit: contain;
  position: relative;
}

@keyframes increaseProjectImage {
  0% {
    height: 260px;
  }
  100% {
    height: 275px;
  }
}
@keyframes decreaseProjectImage {
  0% {
    height: 275px;
  }
  100% {
    height: 260px;
  }
}

@keyframes increaseArtImage {
  0% {
    height: 260px;
  }
  100% {
    height: 275px;
  }
}
@keyframes decreaseArtImage {
  0% {
    height: 275px;
  }
  100% {
    height: 260px;
  }
}

.preview-img-container {
  display: flex;
  justify-content: center;
}

/* ***************************** text ***************************** */
.port-info {
  color: black;
  padding-top: 240px;
  padding-left: 16px;
  padding-right: 16px;
}

.port-buttons {
  position: absolute;
  text-align: right;
}

.project-buttons {
  padding-top: 328px; /* adding onto .project-equal-4-column min-height */
  width: 24%; /* width of column - 1 */
}
.artwork-buttons {
  padding-top: 328px;
  width: 48%;
}

/* ***************************** colors ***************************** */
.bg-l-red {
  background: var(--color-l-red);
}
.bg-l-orange {
  background: var(--color-l-orange);
}
.bg-l-green {
  background: var(--color-l-green);
}
.bg-l-blue {
  background: var(--color-l-blue);
}
.bg-l-purple {
  background: var(--color-l-purple);
}

/* ***************************** for smaller screens ***************************** */
@media (max-width: 1350px) {
  /* resize 2 columns in a row not 4 */
  .project-equal-4-column {
    flex-basis: 50%;
  }
  .project-buttons {
    width: 48%;
  }
  .port-row {
    padding-bottom: 0%;
  }
  /* same as port-row padding-bottom */
  .project-equal-4-column {
    padding-bottom: 3%;
  }
  .art-equal-2-column {
    padding-bottom: 3%;
  }
}

@media (max-width: 1100px) and (min-width: 800px) {
  .art-img {
    max-width: 40%;
  }
  @keyframes increaseArtImage {
    0% {
      height: 260px;
      max-width: 40%;
    }
    100% {
      height: 275px;
      max-width: 45%;
    }
  }
  @keyframes decreaseArtImage {
    0% {
      height: 275px;
      max-width: 45%;
    }
    100% {
      height: 260px;
      max-width: 40%;
    }
  }
}

@media (max-width: 800px) and (min-width: 675px) {
  .art-img {
    height: 245px;
    max-width: 40%;
  }
  @keyframes increaseArtImage {
    0% {
      height: 245px;
      max-width: 40%;
    }
    100% {
      height: 255px;
      max-width: 45%;
    }
  }
  @keyframes decreaseArtImage {
    0% {
      height: 255px;
      max-width: 45%;
    }
    100% {
      height: 245px;
      max-width: 40%;
    }
  }
}

@media (max-width: 675px) {
  /* make each item entire width on small screens */
  .project-equal-4-column, .art-equal-2-column {
    flex-basis: 100%;
    padding-bottom: 40px;
  }
  .project-buttons, .artwork-buttons {
    width: 96%;
  }
  .art-img {
    height: 260px;
    max-width: 80%;
  }
  @keyframes increaseArtImage {
    0% {
      height: 260px;
      max-width: 80%;
    }
    100% {
      height: 275px;
      max-width: 85%;
    }
  }
  @keyframes decreaseArtImage {
    0% {
      height: 275px;
      max-width: 85%;
    }
    100% {
      height: 260px;
      max-width: 80%;
    }
  }
}
@media screen and (max-width: 1000px) {
  /* make each item entire width on small screens */
  .art-equal-2-column {
    flex-basis: 85%;
    padding-bottom: 40px;
  }
  .artwork-buttons {
    width: 80%;
  }
  .art-img {
    height: 260px;
    max-width: 80%;
  }
  @keyframes increaseArtImage {
    0% {
      height: 260px;
      max-width: 80%;
    }
    100% {
      height: 275px;
      max-width: 85%;
    }
  }
  @keyframes decreaseArtImage {
    0% {
      height: 275px;
      max-width: 85%;
    }
    100% {
      height: 260px;
      max-width: 80%;
    }
  }
}


/* FANWORKS */
/* ***************************** formatting/text ***************************** */
.ia-pdf {
  width: 100%;
  height: 800px;
}

#collapsible {
  background-color: white;
  cursor: pointer;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid black;
  text-align: left;
  font-family: var(--font-cour);
  font-size: 24px;
  font-weight: lighter;
  margin-top: 30px;
}

#refs {
  display: none;
  width: 85%;
  text-align: left;
  font-family: var(--font-cour);
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
}


/* PRODUCT */
/* ***************************** formatting ***************************** */
.product-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3%;
}
.product-column {
  display: flex;
  flex-direction: column;
  width: 45%;
  border: 2px solid;
  border-top: 0px;
  border-radius: 0px 0px 30px 30px;
}

.product-indent {
  color: black;
  padding-left: 16px;
  padding-bottom: 8px;
}

/* for smaller screens change to rows of 1 */
@media (max-width: 800px) {
  .product-column {
    width: 90%;
    margin-top: 5%;
  }
  .product-row {
    margin-top: 0%;
  }
}
@media max-width: 800px (max-width: 1000px) {
  .product-column {
    width: 90%;
    margin-top: 5%;
  }
  .product-row {
    margin-top: 0%;
  }
}

/* ***************************** images ***************************** */
.product-img-carousel {
  position: relative;
  margin: auto;
}

.each-product-img {
  display: none;
  margin-bottom: 0px;
}

/* ***************************** text ***************************** */
.img-back, .img-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: var(--color-light-grey);
  font-size: 40px;
  padding-left: 3%;
  padding-right: 3%;
}
/* position the "next button" to the right */
.img-next {
  right: 0;
}

.product-img-indicator {
  display: inline-block;
  width: auto;
  height: 10px;
  width: 10px;
  margin-top: 5px;
  border-radius: 100%;
  background-color: var(--color-light-grey);
  cursor: pointer;
}
.indicator-red.active {
  background-color: var(--color-red);
}
.indicator-orange.active {
  background-color: var(--color-orange);
}
.indicator-blue.active {
  background-color: var(--color-blue);
}
.indicator-purple.active {
  background-color: var(--color-purple);
}

.product-description {
  font-family: var(--font-cour);
  font-size: 20px;
  font-weight: lighter;
  line-height: 120%;
  padding-top: 2%;
}
