.name {
  text-align: center;
  color:#0A1CA3;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;;
  font-size: 120px;
  font-weight: lighter;
}

.welcome {
  text-align: center;
  color:#0A1CA3;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;;
  font-size: 80px;
  font-weight: lighter;
}

.my-navbar {
  background-color: #E1EEF2;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}
