/*navbar text*/
.my-navbar {
  background-color: #e0e0e0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

/*meta/theory page header*/
.sherlock-header {
  text-align: center;
  color:#0519af;
  font-family: "Courier New", Courier, monospace;
  font-size: 46px;
  font-style: italic;
  font-weight: lighter;
}

/*meta/theory page text*/
.sherlock-text {
  text.align: center;
  color:#0519af;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
}
