/*navbar text*/
.my-navbar {
  background-color: #E1EEF2;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

/*about page header*/
.about-header {
  text-align: center;
  color:#1A71BD;
  font-family: "Courier New", Courier, monospace;
  font-size: 46px;
  font-style: italic;
  font-weight: lighter;
}

/*about page text*/
.about-text {
  text.align: left;
  margin-left: 100px;
  margin-right: 500px;
  color:#115B9C;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
}
