/*navbar text*/
.my-navbar {
  background-color: #e0e0e0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

canvas {
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  height: 600px;
  width: 100%;
}

.button {
  text-align: center;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  display: inline-grid;
}

button {
  padding: 5px;
}

button:focus {
  outline: none;
}

button:active:focus {
  outline: none;
}
