/*navbar text*/
.my-navbar {
  background-color: #e0e0e0;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
}

/* text describing animations */
.description {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  float: right;
  margin-right: 50px;
  margin-top: 200px;
}

/* .anim {
  position: relative;
  animation-name: tree;
  animation-duration: 4s;
  /* animation-iteration-count: infinite; */
/* }

@keyframes tree {
    0%   {color:red; }
    100% {color:yellow; }
}

svg line {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
} */
