body {
}
code {
}

:root {
  --color-purple: #762BAA;
  --color-black: #000000;
  --color-light-grey: #e0e0e0;
  --font-roboto: "Roboto", sans-serif;
  --font-oxygen: "Oxygen", sans-serif;
  --end-margin: 2%;
}

.NavTop, .NavBottom  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--color-purple);
  font-family: var(--font-roboto);
  font-size: 32px;
  margin-left: var(--end-margin);
}

.search input {
  width: 350px;
  border-radius: 8px;
  background: var(--color-light-grey);
  font-family: var(--font-roboto);
  outline: none;
  font-size: 15px;
}

.navButtonsTop button, .navButtonsBottom button {
  color: var(--color-black);
  font-family: var(--font-oxygen);
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}
.navButtonsTop button {
  font-size: 13px;
}

.location {
  color: var(--color-black);
  font-family: var(--font-oxygen);
  font-size: 24px;
}

.dropdown {
  margin-right: var(--end-margin);
}
